$color-blue: #98c1d9;
$color-light-blue: #e0fbfc;
$color-dark-blue: #3d5a80;
$color-navy: #293241;
$color-orange: #ee6c4d;
$color-light-orange: lighten(#ee6c4d,10%);
$color-dark-orange: darken(#ee6c4d,20%);
